#app{
  height:90vh;
}
#ptag{
	color:#5AF6F9; 
	text-align:center;
}
.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
	margin-left:50%;
}

.button_night{
  background-color:blue;
  color:white; 
}
